<div ng-app="myApp">
    <div ng-controller="MainCtrl">
        <p>Type a few numbers below to watch the filter</p>
        <input type="text" ng-model="lowerBound" />
        <ul>
            <li ng-repeat="number in numbers | filter:greaterThanNum">
                {{ number }}
            </li>
        </ul>
    </div>
</div>

<script>
var myApp = angular.module('myApp', []);

myApp.controller('MainCtrl', ['$scope', function ($scope) {
    
    $scope.numbers = [1, 5, 20, 45, 60, 80, 90];
    
    $scope.lowerBound = 4;
    
    $scope.greaterThanNum = function (item) {
        return item > $scope.lowerBound;
    };
    
}]);



</script>